.bg-color-light {
  background: $color_light;
}
.color-light {
  color: $color_light;
}
.color-dark {
  color: $color_dark;
}
.bg-color-dark {
  background: $color_dark;
}
.color-blue {
  color: $color_blue;
}

.color-grey {
  color: $color-grey;
}

.bg-color-grey {
  background-color: $color-grey;
}


