{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",

      {
        "extensions": [".tsx", ".ts", ".js", ".jsx"],
        "root": ["."],
        "alias": {
          "@": "./src"
        }
      }
    ]
  ]
}
